<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>954766807040-c3bpmkodkflscv6k9f6npjt98anf58je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954766807040-c3bpmkodkflscv6k9f6npjt98anf58je</string>
	<key>API_KEY</key>
	<string>AIzaSyDgcJcp4dWoQ1PjB58oE175FNoxzh2OL-o</string>
	<key>GCM_SENDER_ID</key>
	<string>954766807040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarahmautsch.Co-Working-Augmentation</string>
	<key>PROJECT_ID</key>
	<string>appropriate-augmentation</string>
	<key>STORAGE_BUCKET</key>
	<string>appropriate-augmentation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954766807040:ios:fdf7534805d7b2c2</string>
	<key>DATABASE_URL</key>
	<string>https://appropriate-augmentation.firebaseio.com</string>
</dict>
</plist>